/CMakeLists.txt~
*~
src/old/*
doc/*
/test/time-integrated-spect/3parts.xml
/test/time-integrated-spect/A.mhd
/test/time-integrated-spect/A.raw
/test/time-integrated-spect/bidon.mhd
/test/time-integrated-spect/bidon.raw
/test/time-integrated-spect/diff.mhd
/test/time-integrated-spect/diff.raw
/test/time-integrated-spect/diff.xml
/test/time-integrated-spect/go.sh
/test/time-integrated-spect/integral.mhd
/test/time-integrated-spect/integral.raw
/test/time-integrated-spect/lambda.mhd
/test/time-integrated-spect/lambda.raw
/test/time-integrated-spect/logs/myeasylog.log
/test/time-integrated-spect/temp_final.mhd
/test/time-integrated-spect/temp_final.raw
/test/time-integrated-spect/temp_first.mhd
/test/time-integrated-spect/temp_first.raw
/src/.#sydInsertDicomCommand.cxx
/doxygen.conf.bak
/src/core/easylogging++.h.save
/test/time-integrated-spect/temp_middle.mhd
/test/time-integrated-spect/temp_middle.raw
/test/time-integrated-spect/test-spect0.mhd
/test/time-integrated-spect/test-spect0.raw
/test/time-integrated-spect/test-spect1.mhd
/test/time-integrated-spect/test-spect1.raw
/test/time-integrated-spect/test-spect2.mhd
/test/time-integrated-spect/test-spect2.raw
/test/time-integrated-spect/test-spect3.mhd
/test/time-integrated-spect/test-spect3.raw
/test/time-integrated-spect/test-spect4.mhd
/test/time-integrated-spect/test-spect4.raw
/test/time-integrated-spect/test-spect5.mhd
/test/time-integrated-spect/test-spect5.raw
