/CMakeLists.txt~
*~
src/old/*
doc/*
doc2/*
/test/time-integrated-spect/*raw
/test/time-integrated-spect/*mhd
/test/test_CreateTimeIntegratedSpectImage/*raw
/test/test_CreateTimeIntegratedSpectImage/*mhd
/src/.#sydInsertDicomCommand.cxx
/doxygen.conf.bak
/src/core/easylogging++.h.save
/test/test_CreateTimeIntegratedSpectImage/3parts.xml
/test/test_CreateTimeIntegratedSpectImage/a.py
/test/test_CreateTimeIntegratedSpectImage/diff.xml
/test/test_CreateTimeIntegratedSpectImage/logs/myeasylog.log
/test/test_CreateTimeIntegratedSpectImage/last_output.txt
