generated-odb
*~
*backup
*.save.*
*.SAVE.*
/test/a.txt
/test/b.txt
/test/data
/test/data3
/test/data4
/test/data5
cmake/cotire
cmake/old
temp/
test/test?.db
test/save
GPATH
GRTAGS
GTAGS
/src/std_db/.dir-locals.el
save/
superbuild.save/
/save*

